<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>Team Survey</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/static/favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/home.css">

  <meta name="theme-color" content="#007bff">
</head>

<body>
    <div class="content-wrapper">
      <h1>{ Team Survey }</h1>
      <a href="/admin/dashboard">Log In</a>
    </div>
</body>

</html>
