<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/1.0.1/tables.css" crossorigin="anonymous" />
    <link rel="stylesheet" href="/static/css/dashboard/dashboard.css" type="text/css">{{ template "css" . }}{{ define "css" }}{{end}}

    <title>Team-Survey</title>
  </head>
  <body>
  {{ template "nav" . }}
  {{ define "nav" }}
  {{if ne "/public/dashboard" .Section}}
    <nav class="navbar">
        <h1 class="logo">Team-Survey</h1>
        <form class="logout-form" action="/logout" method="post">
          {{ if .AppUser.ProfileImageURL }} 
          <div class="profile-image">
            <img src="{{ .AppUser.ProfileImageURL }}" alt="{{ .AppUser.Email }}" /> 
          </div>
          {{ end }}
          <input type="submit" class="button" value="Logout">
          </form>
        <a href="/admin/dashboard"{{if eq "/admin/dashboard" .Section}} class="active"{{end}}>Dashboard</a>
        <a href="/admin/survey"{{if eq "/admin/survey" .Section}} class="active"{{end}}v>Surveys</a>
        <a href="/admin/users/"{{if eq "/admin/users" .Section}} class="active"{{end}}v>Users</a>
    </nav>
    {{ end }}
    {{ end }}
    {{ template "subnav" . }}{{ define "subnav" }}{{end}}

    {{ template "content" . }}

    <script src="/static/js/vendor/modernizr-3.7.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script>
        window.jQuery || document.write('<script src="/static/js/vendor/jquery-3.4.1.min.js"><\/script>')
    </script>
    {{ template "js" . }}{{ define "js" }}{{end}}
  </body>
</html>