{{ define "subnav" }}
<nav class="sub-navbar">
    <a href="/admin/survey/" {{if eq "/admin/survey/" .SubSection}} class="active" {{end}}>All Surveys</a>
    <a href="/admin/survey/new/" {{if eq "/admin/survey/new/" .SubSection}} class="active" {{end}}>Create New</a>
</nav>
{{ end }} {{ define "content"}}
<div class="container">
    <div class="col-xs-12 page-panel">
        <table class="pure-table" width="100%">
            <thead>
                <tr>
                    <th>Survey</th>
                    <th>Team</th>
                    <th># Responses</th>
                    <th>Created Date</th>
                    <th>Created Time</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{ range $key, $survey := .Surveys }}
                <tr>
                    <td><a href="/survey/{{ $survey.Name }}/" target="_blank">{{ $survey.Name }}</a></td>
                    <td>{{ $survey.Team.Name }}</td>
                    <td>{{ len $survey.Results }}</td>
                    <td>{{ $survey.CreatedAt.Format "02/01/2006" }}</td>
                    <td>{{ $survey.CreatedAt.Format "15:04:05" }}</td>
                    <td><a href="/admin/dashboard/survey/{{$survey.Name}}/">Dashboard</a></td>
                    <td>
                    {{if ne "" $survey.ShareCode}}
                    <a href="/public/dashboard/survey/{{$survey.Name}}/?share_code={{$survey.ShareCode}}">Share Link</a>
                    {{ end }}
                    </td>
                    <td><a href="/admin/dashboard/survey/{{$survey.Name}}/delete">Delete</a></td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
</div>
{{ end }}