{{ define "content"}}
<div class="container">
    <div class="col-xs-12 page-panel">
        <table class="pure-table" width="100%">
            <thead>
                <tr>
                    <th width="30"></th>
                    <th>Email</th>
                    <th>Created</th>
                </tr>
            </thead>
            <tbody>
                {{ range $key, $user := .Users }}
                <tr>
                    <td><img src="{{ $user.ProfileImageURL }}" width="30" height="30"/></td>
                    <td>{{ $user.Email }}</td>
                    <td>{{ $user.CreatedAt.Format "2006-01-02 15:04:05" }}</td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
</div>
{{ end }}