{{ define "subnav" }}
<nav class="sub-navbar">
    <a href="/admin/survey/" {{if eq "/admin/survey/" .SubSection}} class="active" {{end}}>All Surveys</a>
    <a href="/admin/survey/new/" {{if eq "/admin/survey/new/" .SubSection}} class="active" {{end}}>Create New</a>
</nav>
{{ end }} 

{{ define "content" }}
<div class="container">
    <div class="row center-md">
        <div class="col-xs-12 col-md-6">
            <div class="page-panel">
               Are you sure you wish to delete "{{.Survey.Name}}"?

               <br /><br />
               <a href="/admin/dashboard/survey/{{.Survey.Name}}/delete?confirm={{.Survey.ShareCode}}" class="button-warning pure-button">Yes, I am sure</a>
            </div>
        </div>
    </div>
</div>
{{ end }}

{{ define "js" }}

{{ end }}

{{ define "css" }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/1.0.1/forms-min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/1.0.1/buttons-min.css" />
    <style>
        .button-warning {
            color: white;
            border-radius: 4px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
            background: rgb(223, 117, 20); /* this is an orange */
        }
    </style>
{{ end }}