* {
    font-family: 'Roboto', sans-serif;
}

html,
body {
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    background: url('/static/img/bg-pattern.png');
    border-top: 4px solid #007bff;
}

a {
    background: #FFF;
    border: 1px solid #007bff;
    color: #007bff;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 30px;
    opacity: .6;
    border-radius: 5px;
    margin: 20px;
    transition: opacity .1s linear;
}

a:hover {
    opacity: 1;
}

.content-wrapper {
    box-sizing: border-box;
    margin: 20% 0 0 0;
    text-align: center;
    width: 100%;
}

.logo {
    color: #007bff;
    display: block;
    font-size: 60px;
    letter-spacing: -.07em;
    margin: 0 0 30px 0;
    padding: 0;
    line-height: 1em;
}